.adder {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 10px;
  margin: 30px;
  width: 400px;
}

.nameDateDiv {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 720px) {
  .adder {
    width: 80%;
  }
}
