.task {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}
.task:hover {
  border-color: #4096ff;
}

.topInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}

.delete {
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .topInfo {
    flex-direction: column;
    align-items: stretch;
  }
}
